:root {
  --btn-primary: #05A4BC;
  --btn-primary-hover: #068497;
  --btn-primary-text: #ffffff;

  --btn-secondary: #E4E7EB;
  --btn-secondary-hover: #C7CDD5;
  --btn-secondary-text: #212529;

  --btn-success: #3FB498;
  --btn-success-hover: #22957c;
  --btn-success-text: #ffffff;

  --btn-danger: #DC3545;
  --btn-danger-hover: #c02232;
  --btn-danger-text: #ffffff;

  --btn-warning: #FF9900;
  --btn-warning-hover: #e88e00;
  --btn-warning-text: #212529;

  --btn-info: #3DA3DC;
  --btn-info-hover: #2a92c9;
  --btn-info-text: #ffffff;
}
