.menu__link,
.menu__link-content {
  display: flex;
  align-items: center;
}

.menu__link {
  &--disabled {
    pointer-events: none;
  }
}

.menu__link--label {
  cursor: pointer;
  user-select: none;
}

.menu__item--show-on-hover,
.menu__item--show-on-click {
  & > .menu__sub-menu {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    z-index: 5;
  }
}

//// .menu__item--show-on-hover:hover,
//.menu__item--show-on-click.menu__item--open {
//  & > .menu__sub-menu {
//    opacity: 1;
//    visibility: visible;
//  }
//}
